
{# <div id="footer-container">	 #}
	<div class="footer_left">
		Total: <span class="glyphicon glyphicon-ok" id="checkdone"></span>
	</div>
	<div class="footer_right">
		
	</div>
{# </div> #}
